<div class="col-md-6 order-md-2 col-sm-6 bg-body rounded shadow-sm">

  <% if(LaunchsData !== undefined){ %>
    <% LaunchsData.forEach(launch => { %>
      <div class="d-flex text-body-secondary pt-3" id="upcomingLaunchs">
        <image src="<%= launch.img %>" width="50px" height="50px" style="margin-top: 7px; border-radius: 10px;" />
        <div class="d-flex flex-column justify-content-between" style="margin-left: 20px;">
          
          <div class="d-flex align-items-center">
            <strong><span><%= launch.title %></span></strong>
          </div>

          <div class="d-flex align-items-center"> 
            <span class="badge mr-2  <% if (launch.status === 'done') { %> badge-danger <% } else if (launch.status === 'live') { %> badge-success <% } else { %> badge-primary <% } %>">
              <%= launch.date %>
            </span>
            <% if (launch.status === 'done') { %>
              <span class="badge badge-danger mr-2">Ended</span>
            <% } else if (launch.status === 'live') { %>
              <span class="badge badge-success mr-2">In Progress</span>
            <% } else { %>
              <span class="badge badge-light mr-2">Scheduled</span>
            <% } %>
            <button type="button" class="btn btn-dark" id="readMoreBtn" style="padding: 0.1rem 0.15rem; height: 0.7rem; font-size: 10px; line-height: 0.4rem;" data-toggle="modal" data-target=".bd-card-modal-lg">Read more</button> 
          </div>

          <div id="tagsLaunch"><span class="badge badge-light mr-2"><%= launch.headAgency %></span></div>
          <div id="descLaunch" style="max-height: 3em; overflow: auto; text-overflow: ellipsis; width: 100%;"><%= launch.description %></div>
        
        </div>      
      </div>
    <%}); %>
  <%};%>
    
    <small class="badge badge-light" style="margin-left: 75%; margin-bottom: 2%;">
      <a href="/news/index">View all launchs</a>
    </small>
    
</div>