<div class="col-md-6 order-md-2 bg-body rounded shadow-sm">
  
  <% if(EventsData !== undefined){ %>
    <% EventsData.forEach(event => { %>
      <div class="d-flex text-body-secondary pt-3" id="upcomingEvents1">
        <image src="<%= event.img %>" width="50px" height="50px" style="margin-top: 7px; border-radius: 10px;" />
        <div class="d-flex flex-column justify-content-between" style="margin-left: 20px;">  
          <div class="d-flex align-items-center">
            <strong><span><%= event.title %></span></strong>
          </div>

          <div class="d-flex align-items-center"> 
            <span class="badge mr-2  <% if (event.status === 'done') { %> badge-danger <% } else if (event.status === 'live') { %> badge-success <% } else { %> badge-primary <% } %>">
              <%= event.date %>
            </span>
            <% if (event.status === 'done') { %>
              <span class="badge badge-danger mr-2">Ended</span>
            <% } else if (event.status === 'live') { %>
              <span class="badge badge-success mr-2">In Progress</span>
            <% } else { %>
              <span class="badge badge-light mr-2">Scheduled</span>
            <% } %>
            <button type="button" class="btn btn-dark" style="padding: 0.1rem 0.15rem; height: 0.7rem; font-size: 10px; line-height: 0.4rem;" data-toggle="modal" data-target=".bd-card-modal-lg">Read more</button> 
          </div>
          
          <div class="modal fade bd-card-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
               <div class="modal-content">
        
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLongTitle"><%= event.title %></h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                  </div>
        
                 <div class="container-fluid">
                   <div class="row">
                     <div class="col-md-4">.col-md-0</div>
                     <div class="col-md-0 ml-auto"><%= event.agencia %></div>
                   </div>
        
                   <div class="row">
                     <div class="col-md-3 ml-0"><%= event.description %></div>
                     <div class="col-md-2 ml-auto">.col-md-2 .ml-auto</div>
                   </div>
        
                   <div class="row">
                     <div class="col-md-6 ml-auto">.col-md-7 .ml-auto</div>
                   </div>
        
                   <div class="row">
                     <div class="col-sm-9">
                        <%= event.date %>
                       <div class="row">
                         <div class="col-8 col-sm-6">
                           Level 2: .col-8 .col-sm-6
                         </div>
                         <div class="col-4 col-sm-6">
                           Level 2: .col-4 .col-sm-6
                         </div>
                       </div>
                     </div>
                 </div>
        
                 </div>
                 <div class="modal-footer">
                   <a href="/news/index">View all</a>
                 </div>
        
               </div>
            </div>
          </div>

          <div id="tagsEvento1"><span class="badge badge-light mr-2"><%= event.agencia %></span></div>
          <div id="descEvento1" style="max-height: 3em; overflow: auto; text-overflow: ellipsis; width: 100%;"><%= event.description %></div>
        </div>      
      </div>
    <%}); %>
  <%};%>

    <small class="badge badge-light" style="margin-left: 80%; margin-bottom: 3%; margin-top: 5px;">
      <a href="/news/index">View all events</a>
    </small>
    
</div>