<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<body>
    <main role="main">

      <div class="container" style="margin-top: 50px;">

        <!-- 3 colunas destaque // Mars, weather, spacecraft = highlights -->
        <%- include('includes/indexHome/highlights') %>

        <hr class="featurette-divider"></hr>
        
        <h1 class="badge text-bg-light rounded-pill" style="width: 100%;">API - Astronomy Picture of the Day (NASA)</h1>
        <%- include('includes/indexHome/dayPicture'); %>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-6 order-md-1">
            <img id='news' class="img-fluid" src="/Imagens/homeImgs/launches.png" alt="Generic placeholder image" width="auto">
          </div>
          <div class="col-md-6 order-md-2">
            <img id='news' class="img-fluid" src="/Imagens/homeImgs/upcomingevents.png" alt="Generic placeholder image" width="auto" >
          </div>
        </div>
          
        <hr class="featurette-divider">
        <div class="row featurette">
          <%- include('includes/indexHome/launches'); %>
          <%- include('includes/indexHome/events'); %>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette" style="position: relative; height: 400px; width: 100%;">
          <video id="jamswebb" class="img-fluid" style="width: 100%; height: auto;" autoplay muted loop>
            <source src="/Videos/jameswebb.mp4" type="video/mp4">
            Seu navegador não suporta a tag de vídeo.
          </video>
          <div class="content-block" style="position: absolute; top: 19%; left: 15%; width: 30%; height: 25%; display: flex; flex-wrap: wrap; box-sizing: border-box;">
            <% if (JamesWebbImages !== undefined && JamesWebbImages.length >= 4) { %>
              <% // Define the positions of the images in the grid %>
              <% const images = [JamesWebbImages[1], JamesWebbImages[0], JamesWebbImages[2], JamesWebbImages[3]]; %>
              <% images.forEach((image, index) => { %>
                <div class="image-wrapper" style="flex: 1 1 50%; padding: 2px; box-sizing: border-box;">
                  <img src="<%= image.data.location %>" class="img-fluid pointer" alt="James Webb Image <%= index + 1 %>" style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;" data-toggle="modal" data-target="#jamesModal<%= index + 1 %>">
                  
                  <div class="modal fade bd-example-modal-lg" id="jamesModal<%= index + 1 %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <span class="badge badge-light" id="exampleModalLabel">Mission: <%= image.data.details.mission %></span>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img src="<%= image.data.location %>" style="width: 100%; object-fit: cover;">
                        </div>
                        <div class="modal-footer">
                          <small class="badge badge-light" style="margin-left: 75%; margin-bottom: 2%;">
                            <a href="/news/index">View more JamesWebb images</a>
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }); %>
              <a class="badge badge-secondary d-block text-center" href="/mars/index" role="button" style="margin-bottom: 15px; width: 100%; height: 20px; margin-top: 5px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
                  <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5z"></path>
                </svg> 
                More JW images »
              </a>
            <% } %>
          </div>
        </div>
        
        <hr class="featurette-divider" style="margin-top: 15px;">

      </div>

      <hr class="featurette-divider">
      <a href="https://github.com/AdrianoGullo" target="_blank">
        <img id='github' class="img-fluid" src="/Imagens/homeImgs/personalstuff.png" alt="Generic placeholder image" width="100" height="100" style="margin-left: 100px;">
      </a>

      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© Site portifólio, 2024 · <a href="#">About</a></p>
      </footer>
      
      <script src="/scripts/homeScripts" type="js"></script>

    </main>
<%- include('includes/footer'); %>