<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<body>
    <div>
        <section class="py-5 container">
            
            <div class="row">
                <div class="text-align: left">
                    <video src="/Videos/jameswebb.mp4" class="w-100" style="border-radius: 14px;" autoplay muted loop></video>
                </div>
            </div>

            <div class="info-block card text-center" style="background-color: #fdfcfc; border-radius: 10px; min-width: 100%;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="imagesTab" onclick="showContent('imagesJW', 'insightsJW', 'realJW', this)" style="margin-left: 30px;">Images</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="insightsTab" onclick="showContent('insightsJW', 'imagesJW', 'realJW', this)" style="margin-left: 10px;">Insights</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="realTab" onclick="showContent('realJW', 'imagesJW', 'insightsJW', this)" style="margin-left: 10px;">Real time</a>
                        </li>
                    </ul>
                </div>
        
                <!-- Aba das Imagens -->
                <%- include('includes/jameswebbPag/imagens', {photos}) %>
        
                <!-- Aba dos Insights -->
                <%- include('includes/jameswebbPag/insights', {insights}) %>
                
                <!-- Aba dos real -->
                <div id="realJW" class="card-body" style="display: none;">
                    <div class="row row-cols-1 g-3">
                        
                    </div>
                </div>

            </div>
        </section>
    </div>

    <script>function showContent(showId, hideId, hideId2, clickedTab) {
        // Ocultar o conteúdo da aba que deve ser escondida
        document.getElementById(hideId).style.display = 'none';
        document.getElementById(hideId2).style.display = 'none';

    
        // Mostrar o conteúdo da aba que deve ser exibida
        document.getElementById(showId).style.display = 'block';
    
        // Alterar a classe ativa das abas
        const tabs = document.querySelectorAll('.nav-link');
        tabs.forEach(tab => {
            tab.classList.remove('active');
        });
        clickedTab.classList.add('active');
    }
    </script>

    <style>
        .card-divider {
            border-bottom: 1px solid #ccc; /* Cor e espessura da linha */
            margin: 10px 0; /* Margem acima e abaixo da linha */
            padding-bottom: 10px; /* Espaço abaixo da linha */
        }
    </style>

</body>
</html>

<%- include('includes/footer') %>