<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-5">
            <h2 class="text-center">Olá <%= user.email %></h2>
            <p class="text-center lead">Você agora pode acessar as abas Favoritos, Eventos e Simulações.</p>

            <%- include('includes/messages') %>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer'); %>
