<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-1">
            <img class="mx-auto d-block" src="/Imagens/login.png" alt="Generic placeholder image" width="280" height="280">
            <p class="text-center lead">Sign Up or Login:</p>

            <%- include('includes/messages') %>

            <div class="row">

                <div class="col-lg-6">
                    <h4>Sign up</h4>
                    <p>If you don't have an account yet, that's the time:</p>
                    <form action="/login/register" method="post">
                        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                        <div class="form-group">
                          <label>Email</label>
                          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>

                        <label>Password</label>
                          <input type="password" class="form-control" name="password" aria-describedby="emailHelp" placeholder="Enter password">
                          <small id="emailHelp" class="form-text text-muted">Do not share your infos with anyone</small>
                          <button type="submit" class="btn btn-outline-secondary" style="width: 40%; margin-top: 5px;">Create account</button>
                        </div>
                      </form>

                      <div class="col-lg-6">
                        <h4>Login</h4>
                        <p>If you already have an account, log in below.</p>
                        <form action="/login/login" method="post">
                            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                            <div class="form-group">
                                
                              <label>Email</label>
                              <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                              
                            <label>Password</label>
                              <input type="password" class="form-control" name="password" aria-describedby="emailHelp" placeholder="Enter password">
                              <small id="emailHelp" class="form-text text-muted">Do not share your infos with anyone</small>
                              <button type="submit" class="btn btn-outline-secondary" style="width: 30%; margin-top: 5px;">Login</button>
                            </div>
                            <div></div>
                            
                          </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer'); %>
