<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<body>
    <main role="main">
        <div>
            <section class="py-5 container">

                <div class="row py-lg-5">
                    <div class="text-align: left">
                        <img class="img-fluid" src="/Imagens/newsLogo.png" alt="Generic placeholder image" width="300" height="200" style="text-align: left;">
                        <p class="lead text-body-secondary">
                            Search what's <strong>new</strong> in the world of science and astronomy and be updated in the <strong>upcoming events</strong>
                        </p>
                    </div>
                </div>
                
                <div class="info-block card text-center" style="background-color: #fdfcfc; border-radius: 10px;">

                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="eventsTab" onclick="showContent('events', this)" style="margin-left: 30px;">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="launchesTab" onclick="showContent('launches', this)" style="margin-left: 10px;">Launches</a>
                            </li>
                        </ul>
                    </div>
                    
                    <!--Aba dos Eventos -->
                    <div id="events" class="card-body">
                        <div class="row row-cols-1 g-3">
                            <% if(EventsData !== undefined){ %>
                                <% EventsData.forEach((event, index) => { %>
                                    <div class="col d-flex justify-content-center">
                                        <div class="card shadow-sm w-100" style="margin: 10px auto; border: 20px solid #fafafae5;">
                                            <div class="row g-0 flex-column flex-md-row">
                                                <div class="col-12 col-md-4">
                                                    <img src="<%= event.img %>" alt="Thumbnail" class="img-fluid" style="object-fit: cover; width: 100%; height: auto;">
                                                </div>
                                                <div class="col-12 col-md-8 d-flex flex-column justify-content-center">
                                                    <div class="card-body p-2">
                                                        <h5 class="card-title text-truncate mb-1"><%= event.title %></h5>
                                                        <p class="card-text text-truncate mb-0"><%= event.description %></p>
                                                        <small class="text-muted"><%= new Date(event.date).toLocaleDateString() %></small>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-dark" id="readMoreBtn" style="padding: 0.1rem 0.15rem; height: 0.7rem; font-size: 10px; line-height: 0.4rem;" data-toggle="modal" data-target="#modal-<%= index %>">Read more</button>                                         
                                                <!-- MODAL ReadMore -->
                                                <%- include('includes/indexHome/readMoreEvent', { event, index}) %>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            <% }; %>
                        </div>
                    </div>

                    <!--Aba dos Lançamentos -->
                    <div id="launches" class="card-body" style="display: none;">
                        <div class="row row-cols-1 g-3">
                            <% if(LaunchsData !== undefined){ %>
                                <% LaunchsData.forEach((launch, index) => { %>
                                    <div class="col d-flex justify-content-center">
                                        <div class="card shadow-sm w-100" style="margin: 10px auto; border: 20px solid #fafafa;">
                                            <div class="row g-0 flex-column flex-md-row">
                                                <div class="col-12 col-md-4">
                                                    <img src="<%= launch.img %>" alt="Thumbnail" class="img-fluid" style="object-fit: cover; width: 100%; height: auto;">
                                                </div>
                                                <div class="col-12 col-md-8 d-flex flex-column justify-content-center">
                                                    <div class="card-body p-2">
                                                        <h5 class="card-title text-truncate mb-1"><%= launch.title %></h5>
                                                        <p class="card-text text-truncate mb-0"><%= launch.description %></p>
                                                        <small class="text-muted"><%= new Date(launch.date).toLocaleDateString() %></small>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-dark" id="readMoreBtn" style="padding: 0.1rem 0.15rem;" data-toggle="modal" data-target="#modalLaunch-<%= index %>">Read more</button>                                         
                                            </div>
                                        </div>
                                    </div>
                                    <!-- MODAL ReadMore -->
                                    <%- include('includes/indexHome/readMoreLaunch', { launch, index}) %>
                                <% }); %>
                            <% }; %>
                        </div>
                    </div>
                </div>
                

            </section>
        </div>


        <script src="/scripts/newsPagScripts.js"></script>


        <style>
            @media (max-width: 768px) {
                .card .row {
                    flex-direction: column !important;
                }
                .card img {
                    width: 100% !important;
                    height: auto !important;
                }
                .card-body {
                    text-align: center;
                }
                .card .col-3 {
                    justify-content: center !important;
                    text-align: center;
                }
            }
            
            .active {
                background-color: #343a40; /* Cor do botão ativo (btn-dark) */
                color: white; /* Cor do texto do botão ativo */
            }
            </style>

    </main>
</body>

<%- include('includes/footer'); %>